.ant-modal-header {
  background-color: #512da8;
}

.ant-modal-title {
  color: white;
}

.ant-divider-horizontal {
  margin: 10px 0px;
}

.ant-input-group.ant-input-group-compact {
  display: block;
  height: 45px;
}
